<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button type="button" id="btn1">버튼1</button>
    <button type="button" id="btn2">버튼2</button>

    <button type="button" id="btn3" onclick="cbF3();console.log('이것도')">버튼3</button>

    <script>
        var cbF1 = function () {
            console.log("고전방식: 이벤트 발생하여 callback함수가 호출될수 있도록 ()붙여주고..");
        };
        var cbF2 = function(){
            console.log("표준방식: 이벤트 발생하여 callback함수가 호출될수 있도록 ()붙여주고...");
        };
        var cbF3 = function () {
            console.log("인라인방식: 이벤트 발생하면 따옴표 안의 내용을 그대로 실행");
        };

        var ele1 = document.getElementById("btn1");
            ele1.onclick=cbF1;
            //변수에 onclick바로 연결해버리기

        var ele1 = document.getElementById("btn1");
            ele1.addEventListener("onclick",cbF2); 
            //변수에 메소드를 연결해서 파라미터로 실행할 이벤트와 함수를 넣어준다.

        
    </script>
</body>

</html>