@charset "UTF-8";
section .wrapper .header_wrapper .header_wrapper{
	position: relative;
	background-color: #fff;
	border-bottom: 1px solid #eaeaea;
	z-index: 1000;
}
section
.wrapper
.container_wrapper{
	min-height: calc(100vh - 80px);
	display: block;
	padding-top: 42px;
}

section .breadcrumb_inner{
	position: relative;
    width: 1200px;
    margin: 0 auto;
}
section .breadcrumb_wrap {
	width: 1200px;
	margin: 0 auto;
}
section .aside_header{
	margin-bottom: 30px;
}
section .contents_flex {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: row;
}

section .aside_wrap {
	width: 170px;
	padding-right: 46px;
}

section .title_wrap {
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

section .title_box {
	display: inline-box;
	font-weight: 700;
}

section .sub_title_wrap {
	padding-bottom: 30px;
}

/* section .tab_wrap {
	padding: 0;
	width: 100%;
	position: relative;
} */
section .title_wrap>li {
	display: inline-box;
}

section .title_tab {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	box-sizing: border-box;
	justify-content: space-around;
	height: 100%;
	border-radius: 6px 6px 0 0;
	background: #fff;
}

section .title_tab>li {
	padding: 0 14px;
	line-height: 22px;
}

/* first second 코드 참고할 것  */
section .title_tab>.tab_text {
	font-weight: 500;
	padding-bottom: 2px;
	font-size: 14px;
	letter-spacing: -0.01em;
	display: block;
	box-sizing: border-box;
}
/* 콘텐츠 구간 */
section .list_wrap {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	margin-bottom: 20px;
	padding: 16px;
	border-radius: 10px;
	background-color: #f7f7f7;
}

section .font_sort {
	display: block;
	padding-left: 8px;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: -0.01em;
	font-weight: 500;
}
