<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시트 연습</title>
    <link href="../../css/reset.css" rel="stylesheet">
    <link href="../../css/try/trydiv.css" rel="stylesheet">

</head>

<body>
    <div class="wrap">
        <header>
            <h1>회사 타이틀 로고 로그인</h1>
        </header>
        <div class="wrap-nav">
            <nav>
                <ul>
                    <li>menu 1</li>
                    <li>menu 2</li>
                    <li>menu 3</li>
                </ul>
            </nav>
        </div>
        <div class="wrap-content">
            <section>
                <article>대통령후보자가 1인일 때에는 그 득표수가 선거권자 총수의 3분의 1 이상이 아니면 대통령으로 당선될 수 없다.</article>
                <article>국가원로자문회의의 의장은 직전대통령이 된다. 다만, 직전대통령이 없을 때에는 대통령이 지명한다.</article>
                <article>대통령은 국무총리·국무위원·행정각부의 장 기타 법률이 정하는 공사의 직을 겸할 수 없다.</article>
            </section>
            <aside>
                <div>링크 사이드 바</div>
                <nav>
                    <ul>
                        <li>menu</li>
                        <li>menu</li>
                        <li>menu</li>
                    </ul>
                </nav>
            </aside>
        </div>
        <footer>
            <address> 성동구 천호대로 380-7</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li>menu1</li>
                    <li>menu2</li>
                    <li>menu3</li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>