<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>try webpage</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/try/try_w_core.css">
    <link rel="stylesheet" href="../../css/try/try_w_layout.css">
    <link rel="stylesheet" href="../../css/try/try_w_header.css">
    <link rel="stylesheet" href="../../css/try/try_w_section.css">
    <link rel="stylesheet" href="../../css/try/try_w_aside.css">
    <link rel="stylesheet" href="../../css/try/try_w_footer.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <div class="wrap-header">
        <header>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo culpa cumque eum veritatis corporis
                voluptatum numquam animi suscipit quibusdam velit dolore quis dignissimos atque, voluptate impedit optio
                voluptates in quos.</div>
        </header>
    </div>
    <div class="wrap-main">
        <section>
            <article>Nunc sollicitudin lectus eros. Mauris in viverra leo. Sed vitae ullamcorper libero, consequat
                vestibulum nunc. In vehicula mi ut nisl feugiat, ut dictum velit imperdiet. Phasellus dolor mauris,
                sagittis vitae nisi sed, elementum gravida metus. Sed sit amet nibh at mauris hendrerit mattis ac ac
                sem. Nam semper vulputate dolor, et consequat velit interdum sed. Praesent nec nisi diam. Aliquam
                elementum odio et justo venenatis sagittis.</article>
            <article>Nunc sollicitudin lectus eros. Mauris in viverra leo. Sed vitae ullamcorper libero, consequat
                vestibulum nunc. In vehicula mi ut nisl feugiat, ut dictum velit imperdiet. Phasellus dolor mauris,
                sagittis vitae nisi sed, elementum gravida metus. Sed sit amet nibh at mauris hendrerit mattis ac ac
                sem. Nam semper vulputate dolor, et consequat velit interdum sed. Praesent nec nisi diam. Aliquam
                elementum odio et justo venenatis sagittis.</article>
            <article>Nunc sollicitudin lectus eros. Mauris in viverra leo. Sed vitae ullamcorper libero, consequat
                vestibulum nunc. In vehicula mi ut nisl feugiat, ut dictum velit imperdiet. Phasellus dolor mauris,
                sagittis vitae nisi sed, elementum gravida metus. Sed sit amet nibh at mauris hendrerit mattis ac ac
                sem. Nam semper vulputate dolor, et consequat velit interdum sed. Praesent nec nisi diam. Aliquam
                elementum odio et justo venenatis sagittis.</article>
            <article>Nunc sollicitudin lectus eros. Mauris in viverra leo. Sed vitae ullamcorper libero, consequat
                vestibulum nunc. In vehicula mi ut nisl feugiat, ut dictum velit imperdiet. Phasellus dolor mauris,
                sagittis vitae nisi sed, elementum gravida metus. Sed sit amet nibh at mauris hendrerit mattis ac ac
                sem. Nam semper vulputate dolor, et consequat velit interdum sed. Praesent nec nisi diam. Aliquam
                elementum odio et justo venenatis sagittis.</article>
            <article>Nunc sollicitudin lectus eros. Mauris in viverra leo. Sed vitae ullamcorper libero, consequat
                vestibulum nunc. In vehicula mi ut nisl feugiat, ut dictum velit imperdiet. Phasellus dolor mauris,
                sagittis vitae nisi sed, elementum gravida metus. Sed sit amet nibh at mauris hendrerit mattis ac ac
                sem. Nam semper vulputate dolor, et consequat velit interdum sed. Praesent nec nisi diam. Aliquam
                elementum odio et justo venenatis sagittis.</article>
        </section>
        <aside>
            <div>
                First
            </div>
            <div>
                second
            </div>
            <ul>
                <li>
                    <a href="#">
                        <div><img src="../../images/gomgom.png" alt="gomgom"></div>
                        <div>
                            <div>HTML</div>
                            <div> do study </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div><img src="../../images/gomgom.png" alt="gomgom"></div>
                        <div>
                            <div>HTML</div>
                            <div> do study </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div><img src="../../images/gomgom.png" alt="gomgom"></div>
                        <div>
                            <div>HTML</div>
                            <div> do study </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div><img src="../../images/gomgom.png" alt="gomgom"></div>
                        <div>
                            <div>HTML</div>
                            <div> do study </div>
                        </div>
                    </a>
                </li>
            </ul>



        </aside>
    </div>
    <div class="wrap-footer">
        <footer>
            <div>slide images</div>
            <h3>HTML5 + CSS basic</h3>
            <address>
                Webstie Layout
            </address>
        </footer>
    </div>
</body>

</html>