<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript 04</title>
</head>

<body>
    <h1 id="id2">true / false 자바와 달라요</h1>
    <h1 class="c2">자료형 object (array포함) 출력console 방법</h1>
    <script>
        var a1 = true;
        var a2 = 1;
        console.log((a1 == a2) ? "==같다" : "==다르다");
        a2 = "aaa";
        var a3;

        if ("") {
            console.log("a2가 true임")
            console.log("String, 음수, 양수, 실수 => true")
        } else {
            console.log("a2값이 0인 경우 false")
            console.log("0, undefined, null;\, NaN, ''안이 비어있는 문자 => false")
        }

        var arr = ["apple", "banana"];
        var obj = {
            k1: "seoul"
            , k2: "daejeon"
            , key: "이거이거"
        };
        console.log(arr);
        console.log(obj);
        console.log("배열 : "+arr + ":문자와함께작성하면");
        console.log("객체 : "+obj + ":문자와함께작성하면");

        console.log("-----------------array");
        var a4 = [];     //대괄호 = 배열선언//배열이라는 자료형을  사용하겠다 못박는 것 
                        //[]를 선언하지 않으면 할 수가 없음
        console.log(a4);
        console.log(typeof (a4));
        a4.push("a");
        console.log(a4);
        a4[2] = "b";
        console.log(a4);

        var a4 = {};  //중괄호 = 객체선언
        console.log(typeof (a4));
        a4.k1 = "v1"; //방법1
        a4["k2"] = "v2"; //방법2
        console.log(a4);

        for(var key in a4){
            console.log("방법2 : "+a4[key]); // 방법2만 가능, 방법1은 불가능
        }

    </script>
</body>

</html>