<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>0308 HTML수업</title>
</head>

<body>
    <h1>하이퍼링크 태그</h1>
    <div><a href="../views/newpage.html">내부 링크 - 내부서버파일</a></div>
    <!-- 내부 링크를 걸 땐 상대 경로, 절대 경로 둘 다 가능하다 -->
    <div><a href="http://www.naver.com">외부 링크(naver)</a></div>
    <!-- a태크 inline 태그 수직으로하고 싶으면 div에 담는다-->
    <a href="#page4">링크- 페이지 내부</a>
    <!-- href는 id가 지정된 곳으로 이동시킴 #꼭 작성-->

</figure>

    <span>영역태그 중 inline 영역의 대표주자</span>
    <span>영역태그 중 inline 영역의 대표주자</span>
    <span>영역태그 중 inline 영역의 대표주자</span>
    <div>영역 태그 중 block영역</div>
    <div>영역 태그 중 block영역</div>
    <div id="page4">영역 태그 중 block영역</div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/XCnd2EwKYaI?si=QlBdfRUllxcPqblb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
<form method="get" action="/dept/insert">
    <input type="text" name="nl" value="vl">

    <input type="submit" value="전달">
    <input type="reset" value="초기화">
</form>

</body>

</html>