<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventHandler</title>
</head>

<body>

    <button type="button" id="event1">버튼1</button>
    <button type="button" id="event2">버튼2</button>

    <!-- 인라인 이벤트 모델 / ()(); 익명함수에 넣어서 함수 설정 -->
    <button type="button" id="event3" onclick="(function(){console.log('인라인 방식 : 인라인 방식으로 호출되었습니다.');})();">버튼3</button>
    <button type="button" id="event3" onclick="cbF1();">버튼4</button>
    <!-- html의 요소 중 onclick으로 설정 한 것 : onclick 인지까지 가능 function내의 내용은 script에서 -->
    
    
    <!-- js는 인터프리터 언어(한줄씩 실행)이므로 <button>이 먼저 선언되어 있어야한다.  -->
    <script>
        //인라인 이벤트 모델
        var btn1 = document.getElementById("event1");//<button>이 선언되어 있지 않으면 Null값이 뜬다.
        console.log(btn1);
        console.log(typeof (btn1)); //object

        btn1.onclick =cbF1;//onclick이 일어나면 이 함수를 실행해줘 
        var cbF1 = function(){
            console.log("고전방식 : 이벤스 발생하여 callback함수가 호출..되어 함수 내의 consol.leg가 실행됨");
        };

        //표준 이벤트 모델
        //자주쓰는 메소드 : click, blur(커서가 올라가 있다가 나올 때),change
        btn1.addEventListener("click", function () { 
            console.log("표준방식 이벤트가 발생함"); 
        });

        //addEventHandler(event명, callbackjunction){}
        function f1(a1, a2, a3) {
            if (a1 == "click") {
                console.log("클릭이 되어 다음 코드가 실행됨")
            }
        }

        var cbF2 = function(){
            console.log("표준방식 : 이벤스 발생하여 callback 함수가 호출될 수 있도록");
        };
        var cbF1 = function(){
            console.log("인라인방식 : 이벤트가 발생하면 따옴표 안의 내용을 그대로 실행");
        };
        var btn3 = document.getElementById("event3");
        btn3.onclick = cbF1;
    </script>

</body>

</html>