<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면설계 - 순서</title>
    <!-- [1] 해상도 =최적해상도 960px 결정(최대/최소지원범위 - 테스트) -->
    <!-- [2]content영역 1020px 80vw 90%, 배치 (중앙,왼쪽) -->
    <!-- [3]reset.css 폴더경로 / 폴더경로 하나까지도 세세히 인지하고 있을 것 -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- TODO js jQury -->
    <!-- [4] project명 또는 core.css 폴더경로 - bootstrap, template등으로 대체 -->
    <!-- [4] 기본색상 10-15개정도 class 미리 만들어두기-->
    <!-- [4] 폰트그리 5-7개정도 class 미리 만들어두기-->
    <!-- [4] button 3개 class 미리 만들어두기-->
    <!-- [4] a모양 미리 만들어두기-->
    <!-- core - 공통영역 -->
    <link rel="stylesheet" href="../css/webpage_core.css">
    <!-- [5] body layout 영역 - 화면 설계사 -->
    <!-- <link rel="stylesheet" href="../css/webpage_layout.css"> -->
    <!-- [5] header 영역 -->
    <link rel="stylesheet" href="/css/webpage_header.css">
    <!-- [5] section 영역 -->
    <link rel="stylesheet" href="../css/webpage_section.css">
    <!-- [5] aside 영역 -->
    <link rel="stylesheet" href="../css/webpage_aside.css">
    <!-- [5] footer 영역 -->
    <link rel="stylesheet" href="../css/webpage_footer.css">
    <!-- <link rel="stylesheet" href="/resources/css/webpage_footer.css"> -->
    <style>
        @import url("../css/webpage_layout.css") screen and (min-width:960px);
        @import url("../css/webpage_layout_response.css") screen and(min-width:801px) and (max-width:959px);
        @import url("../css/webpage_layout_min.css") screen and (max-width:800px);

        @media screen and (min-width:801px) {}

        @media screen and (max-width:800px) {}

        input {
            font-size: larger;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                <nav class="tnb">
                    <ul>
                        <!-- 줄바꿈 = 스페이스 하나 -->
                        <li><a href="#a">Web</a></li>
                        <li><a href="#b">Mobile</a></li>
                        <li><a href="#c">Game</a></li>
                        <li><a href="#d">Simulation</a></li>
                        <li><a href="#e">Date</a></li>
                    </ul>
                </nav>
                <nav class="bnb">
                    <ul>
                        <li><a href="#q">JAVA</a></li>
                        <li><a href="#w">HTML</a></li>
                        <li><a href="#r">CSS</a></li>
                        <li><a href="#t">js</a></li>
                        <li><a href="#y">jQuery</a></li>
                    </ul>
                </nav>
                <div class="logo">
                    <h1>Rint Development</h1>
                    <h1>HTML + CSS3 Basic</h1>
                </div>
            </header>
        </div>
        <div class="wrap-main">
            <section>
                <article>
                    <div class="c-ellipsis">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde rem aliquam sit aliquid sequi
                        facilis reiciendis soluta animi quibusdam! Laudantium quidem nihil nisi molestiae voluptatibus,
                        repudiandae recusandae inventore temporibus aut.
                    </div>
                    <div class="c-ellipsis">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde rem aliquam sit aliquid sequi
                        facilis reiciendis soluta animi quibusdam! Laudantium quidem nihil nisi molestiae voluptatibus,
                        repudiandae recusandae inventore temporibus aut.
                    </div>
                </article>
                <article>
                    <form action="a" method="get">
                        <div>
                            <input type="color" name="color">
                        </div>
                        <div>
                            <input type="date" name="date">
                        </div>
                        <div>
                            <select name="select">
                                <optgroup label="fruit">
                                    <option value="f01">banana</option>
                                    <option value="f02">grape</option>
                                    <option value="f03">orage</option>
                                </optgroup>
                                <optgroup label="야채">
                                    <option value="f04">tomato</option>
                                    <option value="f05">melon</option>
                                    <option value="f06">blueberry</option>
                                </optgroup>
                            </select>
                        </div>
                        <div>
                            <datalist id="datalist">
                                <option value="f01" label="바나낭">banana</option>
                                <option value="f02">grape</option>
                                <option value="f03">orage</option>
                            </datalist>
                            <!-- datalist : n3에 담겨서 value가 빠져나감 -->
                            <input type="text" list="datalist" name="n3">
                        </div>
                        <div>
                            <!-- <input type="submit" value="전달"> -->
                            <button type="button">버튼1</button>
                            <button>type의 기본값이 submit이다</button>
                        </div>
                        <div>
                            <input type="text" name="id" required autofocus>
                            <input type="password" name="pwd">
                        </div>

                    </form>

                </article>
                <article class="article-1">
                    <h1>Flex Box</h1>
                    <div class="flex-3">
                        <div>
                            <div class="flex-item-card">
                                <div>
                                    <img class="fullsizeimg" src="../images/jjang.jpg" width="100px" alt="신쨩">
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://www.dummyimage.com/30/20/fff/fff​" alt="20*30">
                                    </div>
                                    <div>보호중</div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더콜리</a>
                                </div>
                                <div>
                                    남아 중성화 완료
                                </div>
                                <div>
                                    지역:광주광역시 북구
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="flex-item-card">
                                <div>
                                    <img class="fullsizeimg" src="../images/jjang.jpg" width="100px" alt="신쨩">
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://www.dummyimage.com/30/20/fff/fff​" alt="20*30">
                                    </div>
                                    <div>보호중</div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더콜리</a>
                                </div>
                                <div>
                                    남아 중성화 완료
                                </div>
                                <div>
                                    지역:광주광역시 북구
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="flex-item-card">
                                <div>
                                    <img class="fullsizeimg" src="../images/jjang.jpg" width="100px" alt="신쨩">
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://www.dummyimage.com/30/20/fff/fff​" alt="20*30">
                                    </div>
                                    <div>보호중</div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더콜리</a>
                                </div>
                                <div>
                                    남아 중성화 완료
                                </div>
                                <div>
                                    지역:광주광역시 북구
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="flex-item-card">
                                <div>
                                    <img class="fullsizeimg" src="../images/jjang.jpg" width="100px" alt="신쨩">
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://www.dummyimage.com/30/20/fff/fff​" alt="20*30">
                                    </div>
                                    <div>보호중</div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더콜리</a>
                                </div>
                                <div>
                                    남아 중성화 완료
                                </div>
                                <div>
                                    지역:광주광역시 북구
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="flex-item-card">
                                <div>
                                    <img class="fullsizeimg" src="../images/jjang.jpg" width="100px" alt="신쨩">
                                </div>
                                <div class="flex-icons">
                                    <div>
                                        <img src="https://www.dummyimage.com/30/20/fff/fff​" alt="20*30">
                                    </div>
                                    <div>보호중</div>
                                    <div>
                                        하트
                                    </div>
                                </div>
                                <div>
                                    <a href="#">[강아지] 보더콜리</a>
                                </div>
                                <div>
                                    남아 중성화 완료
                                </div>
                                <div>
                                    지역:광주광역시 북구
                                </div>
                            </div>

                        </div>
                        <div>Curabitur bibendum lectus ac egestas condimentum. Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged.</div>

                        <div> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book.</div>
                        <div> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div>It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div>It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                    </div>
                </article>
                <article class="article-2">
                    <h1>Grid Box</h1>
                    <div class="grid-3">

                        <div>

                            <h1>NO.1</h1> Curabitur bibendum lectus ac egestas condimentum.Lorem Ipsum is simply dummy
                            text of the
                            printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged.
                        </div>

                        <div>
                            <h1>NO.2</h1> It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                        <div class="item2">
                            <h1>NO.3</h1> It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                        <div>
                            <h1>NO.4</h1> It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                        <div>
                            <h1>NO.5</h1> It was popularised in the 1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                </article>
                <article class="article-3 ">
                    <h1>Inputform</h1>
                    <div class="flex-5 inputform">
                        <div>Curabitur bibendum lectus ac egestas condimentum.Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged.</div>

                        <div> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap
                            into electronic typesetting, remaining essentially unchanged. It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div>It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                        <div>It was popularised in the
                            1960s with the
                            release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing
                            software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                    </div>
                </article>

            </section>
            <aside>
                <input type="radio" name="n1" id="first" checked="checked">
                <input type="radio" name="n1" id="second">
                <label for="first">First</label>
                <label for="second">second</label>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>HTML5 Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>HTML5 Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>HTML5 Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>HTML5 Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-item">
                    <ul>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>CSS Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>CSS Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>CSS Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div><img src="https://dummyimage.com/45/ccc/000.png" alt="45*45"></div>
                                <div>
                                    <div>CSS Canvas</div>
                                    <div>2024-03-13</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>
                <div>slide images</div>
                <h3>HTML5 + CSS basic</h3>
                <address>
                    Webstie Layout
                </address>
            </footer>
        </div>
    </div>

</body>

</html>