<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃3</title>
    <!-- /* layout - 00 */ -->
    <!-- 필수!! reset.css 걸고 시작하기 -->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv_03.css" rel="stylesheet">

</head>
<body>
    <div class="wrap">
        <header class="wrap-main">
            <h1 >제목 : 회사명, 로고, 로그인</h1>
        </header>
        <div class="wrap-nav wrap-main">
        <nav>
            <ul>
                <li>menu1</li>
                <li>menu2</li>
                <li>menu3</li>
            </ul>
        </nav>
        </div>
        <div class="wrap-content wrap-main">
        <section class="wrap-main">
            <article>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas hendrerit venenatis porttitor. Praesent auctor vitae purus id dictum. Fusce tempus dui eget ligula posuere pellentesque. Aenean interdum, massa et sagittis egestas, erat risus laoreet ex, non pulvinar augue odio vel mi. Fusce blandit augue sit amet erat ultricies, vitae maximus urna pellentesque. Phasellus consequat neque nec augue rhoncus efficitur. Sed vitae bibendum nunc. Mauris eget ipsum sit amet lorem faucibus semper.
            </article>
            <article>
                Proin scelerisque, erat eget porta euismod, sapien nibh hendrerit risus, sed tempus eros ipsum ut libero. Phasellus semper turpis arcu, elementum porttitor diam ullamcorper pellentesque. Etiam tincidunt est non pharetra dictum. Quisque laoreet, leo vel scelerisque malesuada, elit libero pellentesque diam, congue suscipit orci tortor vitae lectus. Donec sit amet nibh venenatis, tristique lacus sed, tincidunt nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nunc augue, molestie non nisl et, efficitur malesuada sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Proin sem enim, faucibus laoreet libero quis, congue ultrices libero. Cras mollis suscipit tellus, vel dignissim mi sagittis a. Quisque ante risus, hendrerit a dui sed, euismod varius neque.
            </article>
            <article>
                Morbi tristique urna a quam feugiat, sed eleifend arcu fringilla. Vestibulum sit amet lorem placerat ex egestas aliquet nec ut libero. In nec sem eu sapien commodo facilisis sed eget urna. Morbi tristique sapien a volutpat laoreet. Etiam semper ligula et mauris imperdiet, eu eleifend neque sodales. Nullam vel volutpat metus. Nullam id velit porttitor, aliquam arcu id, scelerisque justo. In hendrerit imperdiet neque ac aliquet. Nullam non pharetra mi. In condimentum vulputate facilisis.
            </article>
        </section>
        <aside>
            <div>
                광고, 최근본 상품, 바로가기링크
            </div>
            <nav>
                <ul>
                    <li>menu1</li>
                    <li>menu2</li>
                    <li>menu3</li>
                </ul>
            </nav>
        </aside>
        </div>
        <footer class="wrap-main">
            <address>서울시 강남구 태해란로</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li>menu1</li>
                    <li>menu2</li>
                    <li>menu3</li>
                </ul>
            </nav>
        </footer>
    </div>
    <!-- 백그라운드 뚫림여부에 따라 구분해서 수직정렬 묶어주기 -->
</body>
</html>