<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web page</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/try/tryweb.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrap-header">
        <header>
            <!-- 윗 상단바 -->
            <nav class="tnb">
                <ul>
                    <li><a href="#a">Web</a></li>
                    <li><a href="#b">Mobile</a></li>
                    <li><a href="#c">Game</a></li>
                    <li><a href="#d">Simulation</a></li>
                    <li><a href="#e">Date</a></li>
                </ul>
            </nav>
            <!-- 하단 상단바 -->
            <nav class="bnb">
                <ul>
                    <li><a href="#f">JAVA</a></li>
                    <li><a href="#g">HTML</a></li>
                    <li><a href="#h">CSS</a></li>
                    <li><a href="#i">js</a></li>
                    <li><a href="#j">jQuery</a></li>
                </ul>
            </nav>
            <div class="logo">
                <h1 class="cutefont">HTML</h1>
                <h1 class="cutefont">CSS3</h1>
            </div>
        </header>
    </div>
    <div class="wrap-main">
        <section>
            <article>
                <h1 class="cutefont">main title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et
                    ultricies sem. Cras fringilla
                    eros eget scelerisque blandit. Vestibulum sed ultrices felis. Vestibulum maximus, lorem in ultrices
                    malesuada,</p>
            </article>
            <article>
                <h1 class="cutefont">main title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et
                    ultricies sem. Cras fringilla
                    eros eget scelerisque blandit. Vestibulum sed ultrices felis. Vestibulum maximus, lorem in ultrices
                    malesuada,</p>
            </article>
            <article>
                <h1 class="cutefont">main title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et
                    ultricies sem. Cras fringilla
                    eros eget scelerisque blandit. Vestibulum sed ultrices felis. Vestibulum maximus, lorem in ultrices
                    malesuada,</p>
            </article>
            <article>
                <h1 class="cutefont">main title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et
                    ultricies sem. Cras fringilla
                    eros eget scelerisque blandit. Vestibulum sed ultrices felis. Vestibulum maximus, lorem in ultrices
                    malesuada,</p>
            </article>
            <article>
                <h1 class="cutefont">main title</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et
                    ultricies sem. Cras fringilla
                    eros eget scelerisque blandit. Vestibulum sed ultrices felis. Vestibulum maximus, lorem in ultrices
                    malesuada,</p>
            </article>
        </section>
        <aside>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
            pretium.
            Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
            ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis,
            feugiat a, </aside>
    </div>
    <div class="wrap-footer">
        <footer>
            <div>slide images</div>
            <h3>HTML5 + CSS basic</h3>
            <address>Webstie Layout</address>
        </footer>
    </div>

</body>

</html>