.wrap-header{
    background-color:azure;
}
.wrap-header > header
, .wrap-footer > footer{
    width: 960px;
    margin: 0 auto;
}
.wrap-footer{
    clear: both;
    background-color:rgb(179, 113, 255);
    padding: 5px;
}

.wrap-main{
    overflow: hidden;
    background-color: #e2e8f3;
    width: 960px;
    margin: 0 auto;

    padding: 10px 0 ;
}

.wrap-main>section{
    float: left;
    width: 750px;
    margin-right: 10px;
}
.wrap-main>aside{
    float: left;
    width: 200px;
}
