.wrap {
    width: 960px;
    margin: 0 auto;
background-color: bisque;
}
.wrap-content{
    background-color: aliceblue;
}
body{
    background-color: rgb(206, 125, 27);
}
header{
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: aliceblue;
    border: 1px solid black;
}
section{
    float: left;
    width: 80%;
    box-sizing: border-box;
    background-color: rgb(236, 0, 16);
    border: 1px solid black;
}
aside{
    float: right;
    width: 18%;
    background-color: rgb(236, 110, 255);
    border: 1px solid black;
}
footer{
    clear: both;
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;

    border: 1px solid black;
}