.wrap-header{
    background-color: darksalmon;
}
header {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 10px;
    position: relative;
    height: 160px;
}
ul{
    overflow: hidden;
}
ul>li{
    margin-top: 5px;
    float: left;
    /* border: 1px solid blueviolet; */
}
nav>ul>li>a{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
nav.tnb>ul>li:last-child> a{
    border-right: 1px solid black;
    border-radius: 0 15px 15px 0;
}
nav.tnb>ul>li:first-child> a{
    border-radius:  15px 0 0 15px ;
}
nav.bnb>ul>li:last-child> a{
    border-right: 1px solid black;
    border-radius: 0 5px 5px 0;
}
nav.bnb>ul>li:first-child> a{
    border-radius:  5px 0 0 5px ;
}
nav.bnb, .logo{
    clear: both;
}
a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color: black;
}
a:hover{
    background-color: black;
    color: white;
}

/* 해더 nav 위치 지정 position 배치 */
header nav.tnb{
    position: absolute;
    right: 0;
}
header nav.bnb{
    position: absolute;
    right: 0;
    bottom: 0;
}
header div.logo{
 position: absolute;
 left: 60px;
 top: 40px;
}

/* body {} */
.wrap-main{
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}
body{
font-size: 1.1em;
}
section{
    float: left;
    width: 750px;
    margin-right: 10px;
    box-sizing: border-box;
}
article{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
article:last-child{
    margin-bottom: 0px;
}
h1{
    font-weight: 900;
    font-style: normal;
    font-size: 1.2em;
}
aside{
    float: left;
    width: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}
.wrap-footer{
    clear: both;
    background-color: aquamarine;
    position: relative;
}
footer {
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
}
/* font 설정 */
.cutefont {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* 줄높이 */
    line-height: 1.3em;
  }
 
  