<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{padding-bottom: 5px;
        border-bottom: 3px solid rgb(70, 70, 70);}
        #round{border-radius: 25px;}
        p{padding: 10px;
        border: 3px dotted blue;}
        #circle{border-radius: 50%;}
        #b1{border-style: solid;
        border-color: red;}
        #b2{border-style: dotted;
        border-top-color: blue;}
        #b3{border-style: dashed;}
    </style>
</head>
<body>
    <img id="circle" src="../04/dog.jpg">
    <h1>Lorem Ipsum (로렘 입숨)</h1>
    <div id="b1" ><p id="round">로렘 입숨(lorem ipsum; 줄여서 립숨, lipsum)은 출판이나 그래픽 디자인 분야에서</p></div>
    <div id="b2"><p>consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p></div>
    <div id="b3">짧은 직선</div>
</body>
</html>