<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .b1{
            width: 400px;
            height: 500px;
            box-shadow: 2px -2px 15px 0px;
            border: 1px solid black;
        }
        .b2{
            width: 50%;
            height: 500px;
            box-shadow: 5px 5px 15px 5px blue;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="b1"></div>
    <div class="b2"></div>
</body>
</html>