/* layout */
body{
    background-color: blanchedalmond;
    border: 1px solid black;
}
div.wrap{
    background-color: aqua;
    border: 1px solid black;
}
.wrap-main{
    margin-bottom: 10px;
}
header{
      /* layout - 01 */
      /* 전체화면을 기준으로 가운데 지정 
      width
      margin : 0 auto;
      */
    /*너비지정과 가운데 정렬 */
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;

    border: 1px solid black;
}
.wrap > .wrap-nav {
    background-color: aliceblue;
    border: 1px solid black;

}
.wrap > .wrap-nav >nav{
    width: 960px;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;

}
.wrap-content{
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid black;
}
section{
      /* layout - 02 */
    /* display:block이지만 수평나누기 */
    
    width: 80%;
    display: inline-block;
    box-sizing: border-box;

    background-color: coral;
}
aside{
      /* layout - 02 */
    /* 오른쪽 정렬 */
    
    width: 18%;
    display: inline-block;

    box-sizing: border-box;

    background-color: cornflowerblue;
    border: 1px solid black;
}
article{
    border: 1px solid black;
    box-sizing: border-box;
}
.wrap-nav> nav > ul > li,
footer > nav > ul>li{
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
footer{
    /* layout - 02 */
    /* 단독으로 수직 정렬 */
    /* 윗 부분으로 밀려 올라가는 것을 방지 */
    /* display block 영역이지만 다시 block수직 정렬하고 싶을 때 */
    /* 새로운 수직 정렬을 하겠단 의미 */
    

    width: 960px;
    margin: 0 auto;

    padding: 10px;
    /* boder padding(10px)까지 합해서  box사이즈를 지정 - 깔끔해짐 */
    /* default값은 context-box이다 */
    box-sizing: border-box;
    border: 1px solid black;
}

/* font size */
.fs-1{
    font-size: 24px;
}
.fs-2{
    font-size: 18;
}
.fs-3{
    font-size: 16px;
}
.fs-4{
    font-size: 12px;
}