/* ul>li>a>div {
    float 설정
    float: left; 
} 
가독성이 떨어질 경우 전체적으로 float설정을 우선한다*/

/*구역의 태그를 적어준다 - 혼선 방지*/
/* 공통으로 반영할 것이 아니기 때문에 aside를 계속 적어준다 */
aside ul>li>a>div:first-child {
    /* float 설정 */
    width: 45px;
    float: left;
    margin-right: 10px;
}

aside ul>li>a>div:last-child {
    /* float 설정 */
    width: 120px;
    float: left;
}
aside ul>li{
    clear: both;
    overflow: hidden;
}

/*input중에서 type이 radio인 것들은 안 보이게 설정*/
/*[] 속성을 찾아줌*/
input[type=radio] {
    /* 화면에 안 보이게 함 - 공간차지 없음 */
    display: none;

    /* 공간을 차지하면서 화면에 보이지 않음 */
    /* visibility: hidden; */
}

/*first click*/
input[type=radio]:nth-of-type(1):checked~div:nth-of-type(1) {
    display: block;
}

input[type=radio]:nth-of-type(1):checked~div:nth-of-type(2) {
    display: none;
}

/*second click*/
input[type=radio]:nth-of-type(2):checked~div:nth-of-type(1) {
    display: none;
}

input[type=radio]:nth-of-type(2):checked~div:nth-of-type(2) {
    display: block;
}

/*  */
