<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quiz 1</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>4의 배수일까 아닐까</h1>
    <script>
        var num4 = window.prompt("숫자를 입력하세요");
        // num4 = Number.parseInt(num4);
        if(num4%4 === 0){
            document.write(num4+"는 4의 배수입니다.");
        }else{
            document.write(num4+"는 4의 배수가 아닙니다.");
        }
    </script>
</body>
</html>