<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 설명 목록</title>
</head>
<body>
    <h2>상품 구성</h2>
    <dl>선물용 3kg</dl>
    <dd>소과 13~16</dd>
    <dd>소과 10~12</dd>

    <dl>선물용 5kg</dl>
    <dd>소과 15~19</dd>
    <dd>소과 20~22</dd>

    <h2>일정</h2>

<ol type="A">
<li>입춘맞이 : 1/27 - 1/31</li>
<li>낭쉐코사 : 2/1</li>
<li>거리굿 : 2/2</li>
<li>열림굿 : 2/3</li>
</ol>

<ul>
<li>입춘맞이 : 1/27 - 1/31</li>
<li>낭쉐코사 : 2/1</li>
<li>거리굿 : 2/2</li>
<li>열림굿 : 2/3</li>
</ul>

</body>
</html>