<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <style>
      /* css */
      .wrap-header {
        /* TODO */
      }
      .wrap-main {
        background-color: rgb(55, 57, 150);
        width: 1440px;
        margin: 0 auto;
      }
      .wrap-footer {
        /* TODO */
      }
    </style>
    <script>
      // jquery
    </script>
    <title>과목추가</title>
  </head>
  <body>
    <!-- TODO -->
    <div class="wrap-header">
      <header>
        <!-- 해더 공통 -->
      </header>
    </div>
    <div class="wrap-main">
      <section class="body">
        <div>측정할 과목 이름</div>
        <div class="add-su">e.g 자바, 파이썬, SQL</div>
        <form action="" method="post">
          <button type="reset">취소</button>
          <button type="submit">완료</button>
        </form>
      </section>
    </div>
    <!-- TODO -->
    <div class="wrap-footer">
      <footer>
        <!-- 푸터 공통 -->
      </footer>
    </div>
  </body>
</html>
