<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>style</title>
    <link href="./css/style.css" rel="stylesheet">
    <style>
        p{
color: black;        }
h1{
    color: orange !important;
}
p{
    color: blue;
}
        
    </style>
</head>
<body>
    <div>
    <h1 style="color: green;">레드향</h1>
    <p style="color: red;">껍질에 붉은 빛이 도는 레드향 </p>
    <p>레드향은 한라봉과 귤을 교배한 것으로 <br>일반 귤보다 크고, 과육이 붉고 통통하다 </p>
    </div>
</body>
</html>