<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>color</title>
    <style>
        h1{
            color: #0000ff;

        }
        p{
            color: green;
        }
        .accent{
            color: hsl(0, 100%, 50%);
            font-weight: bold;
        }

    </style>

</head>
<body>
    <h1>탐라국 입춘굿</h1>
        <p>Lorem ipsum dolor sit amet, <span class="accent">consectetur adipiscing</span> elit.<br> 
            Duis luctus molestie lobortis. Aenean turpis ante, auctor a neque ut, ullamcorper mollis dui. Praesent tincidunt pharetra metus, vel pulvinar velit interdum nec.</p>
            <p>Pellentesque <sup>habitant</sup> morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    
</body>
</html>