<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>margin</title>
    <style>
        #margin1{margin: 50px;}
        #margin2{margin: 30px 50px;}
        #margin3{margin: 30px 20px 50px;}
        #margin4{margin: 30px 20px 40px 50px;}
    </style>
</head>
<body>
    <div id="margin1"><p>형사피고인은 유죄의 판결이 확정될 때까지는 무죄로 추정된다.</p></div>
    <div id="margin2"><p>형사피고인은 유죄의 판결이 확정될 때까지는 무죄로 추정된다.</p></div>
    <div id="margin3"><p>형사피고인은 유죄의 판결이 확정될 때까지는 무죄로 추정된다.</p></div>
    <div id="margin4"><p>형사피고인은 유죄의 판결이 확정될 때까지는 무죄로 추정된다.</p></div>


</body>
</html>